
OSCWidgets.xcodeproj/xcuserdata/richard.xcuserdatad/xcschemes/xcschememanagement.plist

OSCWidgets.xcodeproj/project.pbxproj

OSCWidgets.xcodeproj/project.xcworkspace/contents.xcworkspacedata

OSCWidgets.xcodeproj/project.xcworkspace/xcshareddata/OSCWidgets.xcscmblueprint

OSCWidgets.xcodeproj/project.pbxproj

OSCWidgets.xcodeproj/project.pbxproj

OSCWidgets.xcodeproj/project.xcworkspace/xcuserdata/richard.xcuserdatad/UserInterfaceState.xcuserstate

OSCWidgets.xcodeproj/xcuserdata/richard.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

OSCWidgets.xcodeproj/xcuserdata/richard.xcuserdatad/xcschemes/OSCWidgets.xcscheme

OSCWidgets.xcodeproj/project.pbxproj

*.pbxproj

OSCWidgets.xcodeproj/project.pbxproj
